/*  your css code here. If applicable */
#yellow {
	background-color: yellow;
	boder-width: 1px;
	border-style: solid;
	border-color: green;
	margin: 5px;
}
#red {
	background-color: red;
	boder-width: 1px;
	border-style: solid;
	border-color: black;
	margin: 5px;
}
#green {
	background-color: green;
	boder-width: 1px;
	border-style: solid;
	border-color: yellow;
	margin: 5px;
}